.button {
  color: $button-color;
  font-family: $body-font-family;
  font-size: $button-font-size;
  font-weight: 400;
  line-height: $button-line-height;
  font-weight: $button-font-weight;
  letter-spacing: $button-letter-spacing;
  padding: $button-padding;
  display: block;
  border: 2px solid $button-border-color;
  border-radius: 20px;
  text-decoration: none;
}

.button-link {
  color: $button-color;
  font-weight: 400;
  text-decoration: none;
  border: 0;
  display: block;
  span,
  font,
  &:link {
    color: $button-color;
    font-weight: 400;
    text-decoration: none;
  }
}

.read-more {
  color: $button-color;
  font-size: $button-font-size;
  font-family: $body-font-family;
  line-height: $body-font-size;
  font-weight: 400;
  font-weight: $button-font-weight;
  padding-right: 7px;
  vertical-align: middle;
}

.read-more-arrow {
  padding-top: 5px;
}

.button-module {
  padding: 20px $gutter 30px;
  @media (max-width: $body-max-width) {
    padding-left: $gutter-small!important;
    padding-right: $gutter-small!important;
  }
}

.read-more-module {
  padding-top: 12px;
  padding-bottom: 12px;
}

// themes
.theme-two {
  .button,
  .button-link,
  .button-link font,
  .button-link span,
  .read-more {
      color: #478899!important;
  }

  .button {
    border-color: #478899!important;
  }
}

.theme-three {
  .button,
  .button-link,
  .button-link font,
  .button-link span,
  .read-more {
      color: #394C59!important;
  }

  .button {
    border-color: #394C59!important;
  }
}