{% extends "layouts/default.njk" %}

{% block content %}

    {# header #}
    {% include "includes/header-top.njk" %}

    {# hero module a #}
    {% include "includes/hero-module-a.njk" %}

    {# hero module b #}
    {% import "includes/hero-module-b.njk" as moduleB %}
    {{ moduleB.bgImage("hero-module-b") }}

    {# hero module b2 #}
    {% import "includes/hero-module-b2.njk" as moduleB2 %}
    {{ moduleB2.bgImageWithText("hero-module-b2") }}

    {# hero module c #}
    {% import "includes/text-block-header.njk" as heroModuleC %}
    {{ heroModuleC.textBlockHeader("text-block-header", "Adviser", "alert") }}

    {# hero module d #}
    {% import "includes/text-block-header-image.njk" as heroModuleD %}
    {{ heroModuleD.textBlockHeaderImage("text-block-header-image", true) }}

    <!-- REMOVE ME -->
    {# profile types #}
    {% import "includes/profile-image.njk" as profileRight %}
    {{ profileRight.profileImage("right", "profile-image-right", hidden = false) }}

    {% import "includes/profile-image.njk" as profileLeft %}
    {{ profileLeft.profileImage("left", "profile-image-left", hidden = false) }}
    <!-- END REMOVE ME -->

    {# heading with subheading #}
    {% import "includes/heading-with-subheading.njk" as headingSubheadingCenter %}
    {{ headingSubheadingCenter.heading("center", "heading-subheading-center") }}

    {# heading #}
    {% import "includes/heading.njk" as heading %}
    {{ heading.heading("center", "heading-center") }}

    {# subheading #}
    {% import "includes/subheading.njk" as subheading %}
    {{ subheading.subheading("center", "subheading-center") }}

    {# generic #}
    {% include "includes/generic.njk" %}

    {# border buttons #}
    {% import "includes/button-module.njk" as borderButtonLeft %}
    {{ borderButtonLeft.buttonModule("left", "border-button-left") }}

    {% import "includes/button-module.njk" as borderButtonCenter %}
    {{ borderButtonCenter.buttonModule("center", "border-button-center") }}

    {% import "includes/button-module.njk" as borderButtonRight %}
    {{ borderButtonRight.buttonModule("right", "border-button-right") }}

    {# arrow buttons #}
    {% import "includes/button-module.njk" as arrowButtonLeft %}
    {{ arrowButtonLeft.buttonModule("left", "arrow-button-left", true) }}

    {% import "includes/button-module.njk" as arrowButtonCenter %}
    {{ arrowButtonCenter.buttonModule("center", "arrow-button-center", true) }}

    {% import "includes/button-module.njk" as arrowButtonRight %}
    {{ arrowButtonRight.buttonModule("right", "arrow-button-right", true) }}

    {# column types #}
    {% import "includes/column.njk" as twoColumnOneImage %}
    {{ twoColumnOneImage.column(2, "two-column-one-image", hasBtn = true, hasBannerImage = true, hidden = false) }}

    {% import "includes/column.njk" as twoColumnOneImageNoBtn %}
    {{ twoColumnOneImageNoBtn.column(2, "two-column-one-image-no-button", hasBannerImage = true, hidden = false) }}

    {% import "includes/column.njk" as twoColumnTwoImage %}
    {{ twoColumnTwoImage.column(2, "two-column-two-image", hasBtn = true, hasColumnImages = true, hidden = false) }}

    {% import "includes/column.njk" as twoColumnTwoImageNoBtn %}
    {{ twoColumnTwoImageNoBtn.column(2, "two-column-two-image-no-button", hasColumnImages = true, hidden = false) }}

    {% import "includes/column.njk" as threeColumnOneImage %}
    {{ threeColumnOneImage.column(3, "three-column-one-image", hasBtn = true, hasBannerImage = true, hidden = false) }}

    {% import "includes/column.njk" as threeColumnOneImageNoBtn %}
    {{ threeColumnOneImageNoBtn.column(3, "three-column-one-image-no-button", hasBannerImage = true, hidden = false) }}

    {% import "includes/column.njk" as threeColumnThreeImage %}
    {{ threeColumnThreeImage.column(3, "three-column-three-image", hasBtn = true, hasColumnImages = true, hidden = false) }}

    {% import "includes/column.njk" as threeColumnThreeImageNoBtn %}
    {{ threeColumnThreeImageNoBtn.column(3, "three-column-three-image-no-button", hasColumnImages = true, hidden = false) }}

    {% import "includes/column.njk" as threeColumnNoBtn %}
    {{ threeColumnNoBtn.column(3, "three-column-no-button", hidden = false) }}

    {% import "includes/column.njk" as threeColumn %}
    {{ threeColumn.column(3, "three-column", hasBtn = true, hidden = false) }}

    {# events #}
    {% import "includes/event.njk" as singleEvent %}
    {{ singleEvent.event("single-event", "single", hidden = false) }}

    {% import "includes/event.njk" as multipleEvent %}
    {{ multipleEvent.event("multiple-event", "multiple", hidden = false) }}

    {# text block image types #}
    {% import "includes/text-block-image.njk" as textBlockRight %}
    {{ textBlockRight.textBlockImage("right", "text-block-image-right") }}

    {% import "includes/text-block-image.njk" as textBlockRightBtn %}
    {{ textBlockRightBtn.textBlockImage("right", "text-block-image-right-button", hasBtn = true) }}

    {% import "includes/text-block-image.njk" as textBlockLeft %}
    {{ textBlockLeft.textBlockImage("left", "text-block-image-left") }}

    {% import "includes/text-block-image.njk" as textBlockLeftBtn %}
    {{ textBlockLeftBtn.textBlockImage("left", "text-block-image-left-button", hasBtn = true) }}

    {# tables #}
    {% import "includes/table.njk" as normal %}
    {{ normal.table("normal-table") }}

    {% import "includes/table.njk" as twocol %}
    {{ twocol.table("twocol-table", "twocol") }}

    {# profile types
    {% import "includes/profile-image.njk" as profileRight %}
    {{ profileRight.profileImage("right", "profile-image-right", hidden = false) }}

    {% import "includes/profile-image.njk" as profileLeft %}
    {{ profileLeft.profileImage("left", "profile-image-left", hidden = false) }}
    #}

    {# signature #}

    {% import "includes/signature.njk" as signature %}
    {{ signature.signature('signature-no-hand') }}

    {% import "includes/signature.njk" as signature %}
    {{ signature.signature('signature-hand', true) }}

    {% import "includes/signature.njk" as signature %}
    {{ signature.signature('signature-hand-image', imageandSignature = true) }}

    {# footer #}

    {% import "includes/footer.njk" as footer %}
    {{ footer.footer() }}

    {% import "includes/footer.njk" as footer %}
    {{ footer.footer(id = 'footer-cta', hasCta = true, hidden = false) }}

    {# disclaimer #}
    {% include "includes/disclaimer.njk" %}

{% endblock %}
