{#
    Generic text area
 #}
<tr class="mktoModule" id="generic-text" mktoname="Generic text area" mktoAddByDefault="true">
    <td class="module">
        <table cellpadding="0" cellspacing="0" border="0" class="full-width column">
            <tr>
                <td class="mktoText padding-big-all body-text" id="generic-text-content" mktoname="Text">
                    Dear xxxxx,<br><br>
                    Here's how you're tracking so far (up to xx xxxx 2017) for qualification to join us on the trip to xxxxx in 2018.

                    <br><br>
                    <table cellpadding="0" cellspacing="0" border="0" class="generic-table">
                        <thead>
                            <tr>
                                <th class="body-text left-cell">FIJI 2018</th>
                                <th class="body-text">RISK API</th>
                            </tr>
                        </thead>
                        <tr>
                            <td class="body-text left-cell">Combined API target by xx xxxx xxxx</td>
                            <td class="body-text">$xxxxx</td>
                        </tr>
                        <tr>
                            <td class="body-text left-cell">Current Fidelity Life API</td>
                            <td class="body-text">$xxxxx</td>
                        </tr>
                        <tr>
                            <td class="body-text left-cell">Current nib total</td>
                            <td class="body-text">$xxxxx</td>
                        </tr>
                        <tr>
                            <td class="body-text left-cell total">Total combined API</td>
                            <td class="body-text total">$xxxxx</td>
                        </tr>
                        <tr>
                            <td class="body-text left-cell">Balance required by xx xxxx xxxx</td>
                            <td class="body-text">$xxxxx</td>
                        </tr>
                        <tr>
                            <td class="body-text left-cell">Persistency</td>
                            <td class="body-text">xxxxx</td>
                        </tr>
                        <tr>
                            <td class="body-text left-cell">Number of policies written to date</td>
                            <td class="body-text">xxxxx</td>
                        </tr>
                        <tr>
                            <td class="body-text left-cell">Average monthly required to qualify for FIJI 2018</td>
                            <td class="body-text">xxxxx</td>
                        </tr>
                    </table>
                    <br><br>

                    Please don't hesitate to contact us/me if you have any queries and I'll be happy to assist.<br><br>

                    Yours sincerly,<br>
                    Arihiana Marino, Sales Support
                </td>
            </tr>
        </table>
    </td>
</tr>