{# Generic text with heading area #}
<tr class="mktoModule" id="generic-text-with-heading" mktoname="Generic text area width heading">
    <td class="module">
        <table cellpadding="0" cellspacing="0" border="0" class="full-width column">
            <tr>
                <td class="mktoText padding-sides padding-top text-center body-text h4" id="generic-text-with-heading-heading" mktoname="Heading">
                    Two choices, two incredible opportunities
                </td>
            </tr>
            <tr>
                <td class="mktoText padding-sides padding-top-half padding-bottom body-text" id="generic-text-with-heading-content" mktoname="Text">
                    Our annual adviser trips aim to recognise and reward the hard work you’ve put in through the year. Your enjoyment is always at the heart of these events, so we’ve listened to feedback and created two fabulous opportunities that re ect the varied interests and requirements of our advisers.<br><br>
While fun is always a top priority, we also want to create a richer, more memorable experience for advisers, so this year we’ve slightly changed the focus of our events to incorporate three core pillars of learning, celebration and giving back. It’s all about ensuring you come home with memories to last a lifetime.
                </td>
            </tr>
        </table>
    </td>
</tr>