{# 
    Hero module a
 #}
<tr class="mktoModule" id="hero-module-a" mktoname="Hero module a">
    <td class="text-center module">
        <div class="mktoImg" id="hero-module-a-image" mktoname="Image" mktoImgLink="http://www.fidelitylife.co.nz/">
            <a><img src="https://info.fidelitylife.nz/rs/451-RXL-411/images/hero-module-a.png" alt="" class="display-block" width="600"></a>
        </div>
    </td>
</tr>