{#
    Signature
#}
{% macro signature(id, hasHand = false, imageandSignature = false) %}
<tr class="mktoModule" id="{{ id }}" mktoname="{{ id | replace("-", " ") | capitalize }}" mktoAddByDefault="true">
    <td class="signature-module">
        <table cellpadding="0" cellspacing="0" border="0" class="full-width">
            {% if hasHand %}
            <tr>
                <td class="padding-sides padding-top-half">
                    <img src="http://info.fidelitylife.nz/rs/451-RXL-411/images/signature.png" alt="" class="mktoImg" id="{{  id }}-signature" mktoName="Image" width="127">
                </td>
            </tr>
            {% endif %}
            <tr>
                {% if hasHand %}
                    <td class="mktoText padding-sides padding-top-tiny body-text signature-text" id="{{ id }}-text-from" mktoname="From text">
                        <span class="h4 from-name">Joe bloggs</span><br>
                        <span class="from-title">Head of blogging</span>
                    </td>
                {% else %}
                    <td class="padding-sides">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td class="signature-avatar">
                                    <img src="http://info.fidelitylife.nz/rs/451-RXL-411/images/joe-bloggs.png" alt="" class="mktoImg" id="{{  id }}-avatar" mktoName="Avatar" width="152">
                                </td>
                                {% if imageandSignature %}
                                <td class="signature-text">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td>
                                                <img src="http://info.fidelitylife.nz/rs/451-RXL-411/images/signature.png" alt="" class="mktoImg" id="{{  id }}-signature" mktoName="Image" width="127">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="mktoText padding-top-tiny body-text signature-text" id="{{ id }}-text-from" mktoname="From text">
                                                <span class="h4 from-name">Joe bloggs</span><br>
                                                <span class="from-title">Head of blogging</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                {% else %}
                                <td class="mktoText body-text signature-text" id="{{ id }}-text-from" mktoname="From text">
                                    <span class="h4 from-name">Joe bloggs</span><br>
                                    Head of blogging
                                    <br><br>
                                    joe.bloggs@blogging.com
                                </td>
                                {% endif %}
                            </tr>
                        </table>
                    </td>
                {% endif %}
            </tr>
        </table>
    </td>
</tr>
{% endmacro %}