{# small background image with caption #}
<tr class="mktoModule" id="small-background-image-with-caption" mktoname="small background image with caption" mktoAddByDefault="true">
    <td class="module">
        <table cellpadding="0" cellspacing="0" border="0" class="full-width banner-wrap">
            <tr>
                <td background="https://info.fidelitylife.nz/rs/451-RXL-411/images/fiji-banner-test.jpg" bgcolor="#A0CFD8" width="600" height="192">
                <!--[if gte mso 9]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width: 600px;height:192px;">
                    <v:fill type="tile" src="https://info.fidelitylife.nz/rs/451-RXL-411/images/fiji-banner-test.jpg" color="#A0CFD8" />
                    <v:textbox inset="0,0,0,0">
                <![endif]-->
                <div>
                    <table cellpadding="0" cellspacing="0" border="0" class="banner-table banner-half">
                        <tr>
                            <td class="body-text mktoText h2 banner-title" id="small-background-image-with-caption-heading" mktoname="Heading">
                                Keep up the <br> great work
                            </td>
                        </tr>
                    </table>
                </div>
                <!--[if gte mso 9]>
                </v:textbox>
                </v:rect>
                <![endif]-->
                </td>
            </tr>
        </table>
    </td>
</tr>